body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(244, 234, 255);
}
header {
  text-align: center;
  padding: 32px;
}
h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}
img {
  width: 300px;
}
main {
  width: 700px;
  background-color: rgb(122, 74, 218);
  color: rgb(248, 241, 255);
  margin: 32px auto;
  padding: 32px;
  border-radius: 8px;
}
h2 {
  text-align: start;
}
main p {
  text-align: start;
}
ul {
  margin: 0;
  padding: 0;
  text-align: start;
  list-style: none;
}
li {
  margin: 14px 0;
  border-left: 5px solid transparent;
  padding-left: 10px;
}
a {
  background-color: rgb(255, 237, 177);
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 4px;
  color: rgb(36, 3, 102);
}
a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}
footer {
  text-align: center;
}
footer p {
  color: rgb(131, 113, 149);
  margin-top: 30px;
}
footer a {
  padding: 12px 20px;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
}
footer a:hover,
footer a:active {
    background-color: rgb(255, 186, 58);
}
.highlighted {
  border-color: rgb(247, 209, 85);
  color: rgb(255, 237, 177);
  padding: 0 10px;
  margin: 10px 0;
}
